html, body {
    height:100%;
    background-color:lightgray;
}


#about-me{
    background-color:lightgray;
    padding:20px;
}

user-nav{
    background-color:#B9B9B9;
}

.fonta-icon{
    color:black;
    padding:10px;
}


.accordion-button{
    background-color:lightgray;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 1rem;
  border: none;
  outline: none;
  background-color: #B9B9B9;
  color: white;
  cursor: pointer;
  padding: 5px;
  border-radius: 2px;
}

#myBtn:hover {
  background-color: #B9B9B9;
}

/*style for rollover social media icons*/

#social-media {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.facebook1 {
    height: 50px;
    width: 50px;
    background: #314d91 url(../images/social-icons.png) no-repeat 0px 0px;
    -webkit-transition: All 0.3s ease-out;
    -moz-transition: All 0.3s ease-out;
    -o-transition: All 0.3s ease-out;

}

.facebook1:hover {
    background: #314d91 url(../images/social-icons.png) no-repeat 0px -73px;
}

.twitter1 {
    height: 50px;
    width: 50px;
    background: #07beed url(../images/social-icons.png) no-repeat 0px -127px;
    -webkit-transition: All 0.3s ease-out;
    -moz-transition: All 0.3s ease-out;
    -o-transition: All 0.3s ease-out;

}

.twitter1:hover {
    background: #07beed url(../images/social-icons.png) no-repeat 0px -204px;
}

.linkdin1 {
    height: 50px;
    width: 50px;
    background: #1698E3 url(../images/social-icons.png) no-repeat 0px -635px;
    -webkit-transition: All 0.3s ease-out;
    -moz-transition: All 0.3s ease-out;
    -o-transition: All 0.3s ease-out;
}

.linkdin1:hover {
    background: #1698e3 url(../images/social-icons.png) no-repeat 0px -711px;
}